
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);



@keyframes chrome_effect {
  0% {background-position:-200px 0;}
  10% {background-position:600px 20;}
  100% {background-position:800px 0;}
}


.chrome {
  position: relative;
  background-image: -webkit-linear-gradient(#D2EFF7 0%, #ADE5F6 46%, #ffffff 50%,#071E58  54%, #379FBF 58%, #0F5B1B 90%, #08350F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #f5f5f5;
  font-size: 50px;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
  text-align: center;

}

.chrome:before {
  content: '■■■■■■■■■■■■■■';
  position: absolute;
  left: 0;
  top: -80px;
  z-index: 10;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position:-400px 0;
  background-clip: text;
  -webkit-text-stroke: 0;
  /* padding: 50px; */
  margin-bottom: 20px;
  /* margin-left: 350px; */
  animation-name: chrome_effect;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 250px;
  letter-spacing: -60px;

  /* font-family: 'Titillium Web', sans-serif; */
}
